.progress-bar {
  height: 20px;
  width: 300px;
  border: 1px solid green;
  border-radius: 5px;
  text-align: left;
  position: relative;
}

.progress-span {
  display: inline-block;
  height: 20px;
}

.progress-percentage {
  position: absolute;
  left: 49%;
}
